* {
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 130px;
    background-image: url("images/backg2.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}
.large_font {
    font-size: x-large;
}
.small_font {
    font-size: small;
}
.medium_font {
    font-size: medium;
}
.text-indent {
    margin-left: 60px;
}
.page_container {
    background-color: #dedede;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding-bottom: 50px;
    overflow-x: hidden;
}
@media screen and (max-width: 992px) {
    body {
        padding: 20px;
    }
}
.nav_bar {
    width: 100%;
    text-align: right;
    padding: 20px 20px;
    font-size: 30px;
    margin-bottom: 100px;
}
.nav_bar a {
    text-decoration: none;
    color: #282828;
    margin: 0 10px;
}
.nav_bar a:hover{
    color: black;
}
.profile_pic {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-image: url("images/profil_cut.jpeg");
    background-position: center;
    background-size: cover;
    box-shadow: -9px 8px 8px rgba(0, 0, 0, 0.6);
    margin-top: 50px;
    filter: grayscale(70%);
}
.text_justify {
    text-align: justify;
}
.container_margin_xl {
    margin-top: 125px;
}
.container_margin {
    margin-top: 100px;
}
.container_margin_s {
    margin-top: 50px;
}
.bold {
    font-weight: bold;
}
.icon_design {
    margin-right: 20px;
    font-size: 30px;
}
.container_margin_bottom {
    margin-bottom: 30px;
}
.test {
    margin-bottom: 2px;
}
.html_icon_margin {
    margin-top: 15px;
}
.buttons_bottom {
    position: center;
}
.img_size {
    width: 30px;
    height: 39px;
}
.p_margin_bottom {
    margin-bottom: 0;
}
.buttons_bottom {
    text-align: center;
    margin-top: 100px;
}
hr.solid {
    border-top: 3px solid #000000;
}
